/*
  * ANIMATIONS MENU MOBILE
*/ 
.navbar-mobile-wrapper.opened {
	.menu-mobile li .mini-link:after {
		opacity: 0;
		animation-name: fade-in;
		animation-duration: 1s;
		animation-delay:200ms;
		animation-fill-mode: forwards;
	}
	.menu-mobile li:nth-child(3) .mini-link:after {
		animation-delay:250ms;
	}
	.menu-mobile li:nth-child(4) .mini-link:after {
		animation-delay:300ms;
	}
	.menu-mobile li:nth-child(5) .mini-link:after {
		animation-delay:350ms;
	}
}

@keyframes fade-in {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fade-out {
	from {opacity: 1;}
	to {opacity: 0;}
}

@keyframes fade-out-dissapear {
	/*0% {opacity: 1;height: 100vh;width: 100%;}
	75% {opacity: 0.3;height: 0vh;width: 0;}
	100% {opacity: 0;height: 0;width: 0;}*/
	0% {opacity: 1;}
	100% {opacity: 0;}
}

@keyframes rotate {
	0% {transform: rotate(0);}
	10% {transform: rotate(0);}
	20% {transform: rotate(370deg);}
	50% {transform: rotate(360deg);}
	100% {}
}

.animate.fade-in {
	opacity: 0;
	animation-name: fade-in;
	animation-duration: 500ms;
	animation-fill-mode: forwards;
}

/*
  * ANIMATIONS IN VIEW
 */

 //slide down flecha header
 .movil-element.slide-down.in-view {
	animation-name: slide-down;
	animation-duration: 1s;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
}

@keyframes slide-down {
	from {opacity: 0;transform:translateY(0);}
	to {opacity: 1;transform:translateY(30px);}
}

.animate-element {
	opacity: 0;
}

.animate-element.slide-down-x2.in-view {
	opacity: 0;
	animation-name: slide-down;
	animation-duration: 1s;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
}

@keyframes slide-down-x2 {
	from {opacity: 0;transform:translateY(-10%);}
	to {opacity: 1;transform:translateY(0);}
}

.animate-element.slide-up.in-view {
	opacity: 0;
	animation-name: slide-up;
	animation-duration: 1s;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
}

.animate-element.slide-up-list.in-view {
	opacity: 0;
	animation-name: slide-up;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes slide-up {
	from {opacity: 0;transform:translateY(30%);}
	to {opacity: 1;transform:translateY(0);}
}

.animate-element.slide-left.in-view {
	opacity: 0;
	animation-name: slide-left;
	animation-duration: 1s;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
}

@keyframes slide-left {
	from {opacity: 0;transform:translateX(-50%);}
        to {opacity: 1;transform:translateX(0);}
}

.animate-element.slide-right.in-view {
	opacity: 0;
	animation-name: slide-right;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes slide-right {
	from {opacity: 0;transform:translateX(50%);}
    to {opacity: 1;transform:translateX(0);}
}