// FONT TYPE DEFINITIONS
@font-face {
    font-family: 'Bebas';
    src: url('../fonts/bebas.eot');
    src: url('../fonts/bebas.woff') format('woff'),
        url('../fonts/bebas.woff2') format('woff'),
        url('../fonts/bebas.svg') format('svg'),
        url('../fonts/bebas.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica', 'helvetica');
    src: url('../fonts/helvetica.eot');
    src: url('../fonts/helvetica.woff') format('woff'),
        url('../fonts/helvetica.woff2') format('woff'),
        url('../fonts/helvetica.svg') format('svg'),
        url('../fonts/helvetica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Rama Gothic E';
    src: url('../fonts/ramagothice-regular.eot');
    src: url('../fonts/ramagothice-regular.woff') format('woff'),
        url('../fonts/ramagothice-regular.woff2') format('woff'),
        //url('../fonts/ramagothice-regular.svg') format('svg'),
        url('../fonts/ramagothice-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sari Caps';
    src: url('../fonts/ssariboldcaps.eot');
    src: url('../fonts/sariboldcaps.woff') format('woff'),
        url('../fonts/sariboldcaps.woff2') format('woff'),
        url('../fonts/sariboldcaps.svg') format('svg'),
        url('../fonts/sariboldcaps.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Sari Caps';
    src: url('../fonts/sarilightcaps.eot');
    src: url('../fonts/sarilightcaps.woff') format('woff'),
        url('../fonts/sarilightcaps.woff2') format('woff'),
        url('../fonts/sarilightcaps.svg') format('svg'),
        url('../fonts/sarilightcaps.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Type Senses Blend Script';
    src: url('../fonts/typesensesblendscript.eot');
    src: url('../fonts/typesensesblendscript.woff') format('woff'),
        url('../fonts/typesensesblendscript.woff2') format('woff'),
        url('../fonts/typesensesblendscript.svg') format('svg'),
        url('../fonts/typesensesblendscript.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}