//MyriadConceptRoman-Regular

// FONT TYPE DEFINITIONS
@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/bebasneue/bebasneue-regular.eot');
    src: url('../fonts/bebasneue/bebasneue-regular.woff') format('woff'),
        url('../fonts/bebasneue/bebasneue-regular.svg') format('svg'),
        url('../fonts/bebasneue/bebasneue-regular.ttf') format('truetype'),
        url('../fonts/bebasneue/bebasneue-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeue-Book';
    src: url('../fonts/bebasneue/bebasneue-book.eot');
    src: url('../fonts/bebasneue/bebasneue-book.woff') format('woff'),
        url('../fonts/bebasneue/bebasneue-book.svg') format('svg'),
        url('../fonts/bebasneue/bebasneue-book.ttf') format('truetype'),
        url('../fonts/bebasneue/bebasneue-book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/bebasneue/bebasneue-bold.eot');
    src: url('../fonts/bebasneue/bebasneue-bold.woff') format('woff'),
        url('../fonts/bebasneue/bebasneue-bold.svg') format('svg'),
        url('../fonts/bebasneue/bebasneue-bold.ttf') format('truetype'),
        url('../fonts/bebasneue/bebasneue-bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/bebasneue/bebasneue-light.eot');
    src: url('../fonts/bebasneue/bebasneue-light.woff') format('woff'),
        url('../fonts/bebasneue/bebasneue-light.svg') format('svg'),
        url('../fonts/bebasneue/bebasneue-light.ttf') format('truetype'),
        url('../fonts/bebasneue/bebasneue-light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/bebasneue/bebasneue-thin.eot');
    src: url('../fonts/bebasneue/bebasneue-thin.woff') format('woff'),
        url('../fonts/bebasneue/bebasneue-thin.svg') format('svg'),
        url('../fonts/bebasneue/bebasneue-thin.ttf') format('truetype'),
        url('../fonts/bebasneue/bebasneue-thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}


@font-face {
    font-family: 'HeadingProTrial-Book';
    src: url('../fonts/heading-pro/heading-pro-book-trial.eot');
    src: url('../fonts/heading-pro/heading-pro-book-trial.woff') format('woff'),
        url('../fonts/heading-pro/heading-pro-book-trial.svg') format('svg'),
        url('../fonts/heading-pro/heading-pro-book-trial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HeadingProTrial';
    src: url('../fonts/heading-pro/heading-pro-extra-bold-trial.eot');
    src: url('../fonts/heading-pro/heading-pro-extra-bold-trial.woff') format('woff'),
        url('../fonts/heading-pro/heading-pro-extra-bold-trial.svg') format('svg'),
        url('../fonts/heading-pro/heading-pro-extra-bold-trial.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'HeadingProTrial';
    src: url('../fonts/heading-pro/heading-pro-extrabold-italic-trial.eot');
    src: url('../fonts/heading-pro/heading-pro-extrabold-italic-trial.woff') format('woff'),
        url('../fonts/heading-pro/heading-pro-extrabold-italic-trial.svg') format('svg'),
        url('../fonts/heading-pro/heading-pro-extrabold-italic-trial.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'HeadingProTrial';
    src: url('../fonts/heading-pro/heading-pro-bold-trial.eot');
    src: url('../fonts/heading-pro/heading-pro-bold-trial.woff') format('woff'),
        url('../fonts/heading-pro/heading-pro-bold-trial.svg') format('svg'),
        url('../fonts/heading-pro/heading-pro-bold-trial.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'HeadingProTrial';
    src: url('../fonts/heading-pro/heading-pro-light-trial.eot');
    src: url('../fonts/heading-pro/heading-pro-light-trial.woff') format('woff'),
        url('../fonts/heading-pro/heading-pro-light-trial.svg') format('svg'),
        url('../fonts/heading-pro/heading-pro-light-trial.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HeadingProTrial';
    src: url('../fonts/heading-pro/heading-pro-light-italic-trial.eot');
    src: url('../fonts/heading-pro/heading-pro-light-italic-trial.woff') format('woff'),
        url('../fonts/heading-pro/heading-pro-light-italic-trial.svg') format('svg'),
        url('../fonts/heading-pro/heading-pro-light-italic-trial.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'HeadingProTrial';
    src: url('../fonts/heading-pro/heading-pro-thin-trial.eot');
    src: url('../fonts/heading-pro/heading-pro-thin-trial.woff') format('woff'),
        url('../fonts/heading-pro/heading-pro-thin-trial.svg') format('svg'),
        url('../fonts/heading-pro/heading-pro-thin-trial.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}