.container {
    position: relative;
    width: 100%;
    padding-left: $GlobalPadding;
    padding-right: $GlobalPadding;
    @media (min-width: $md) {
        padding-left: $GlobalPaddingSM;
        padding-right: $GlobalPaddingSM;
    }
    @media (min-width: $md) {
        padding-left: $GlobalPaddingMD;
        padding-right: $GlobalPaddingMD;
    }
    @media (min-width: $lg) {
        padding-left: $GlobalPaddingLG;
        padding-right: $GlobalPaddingLG;
    }
    @media (min-width: $xlg) {
        padding-left: $GlobalPaddingXLG;
        padding-right: $GlobalPaddingXLG;
    }
}

.row {
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
}

.row-md {
    @media (min-width: $md) {
        display: flex;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;
    }
}

.row-aling-center {
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
}

.row-justify-center {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
}

.row-justify-space-bw {
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
}

.row-justify-space-ar {
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
}



.row-grid {
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row-md-all-center {
    @extend .row-md;
    @extend .row-justify-center;
    @extend .row-justify-center;  
}