.container {
    position: relative;
    width: 100%;
    padding-left: $GlobalPadding;
    padding-right: $GlobalPadding;
    @media (min-width: $sm) {
        padding-left: $GlobalPaddingSM;
        padding-right: $GlobalPaddingSM;
    }
    @media (min-width: $md) {
        padding-left: $GlobalPaddingMD;
        padding-right: $GlobalPaddingMD;
    }
    @media (min-width: $lg) {
        padding-left: $GlobalPaddingLG;
        padding-right: $GlobalPaddingLG;
    }
    @media (min-width: $xlg) {
        padding-left: $GlobalPaddingXLG;
        padding-right: $GlobalPaddingXLG;
    }
}

.row {
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
}

.row-md {
    @media (min-width: $md) {
        display: flex;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;
    }
}

.row-aling-center {
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
}

.row-justify-center {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
}

.row-justify-space-bw {
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
}

.row-justify-space-ar {
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
}


.row-wrap{
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row-md-all-center {
    @extend .row-md;
    @extend .row-justify-center;
    @extend .row-justify-center;  
}

.col {
    flex-grow: 1;
}

.col-1 {
    width: 10%;
}
.col-2 {
    width: 20%;
}
.col-25 {
    width: 25%;
}
.col-3 {
    width: 30%;
}
.col-33 {
    width: 33.33%;
}
.col-4 {
    width: 40%;
}
.col-5 {
    width: 50%;
}
.col-6 {
    width: 60%;
}
.col-7 {
    width: 70%;
}
.col-75 {
    width: 75%;
}
.col-8 {
    width: 80%;
}
.col-9 {
    width: 90%;
}
.col-10 {
    width: 100%;
}

.col {
    flex-grow: 1;
}

.col-1-md {
    @media (min-width: $md) {
        width: 10%;
    }
}
.col-2-md {
    @media (min-width: $md) {
        width: 20%;
    }
}
.col-25-md {
    @media (min-width: $md) {
        width: 25%;
    }
}
.col-3-md {
    @media (min-width: $md) {
        width: 30%;
    }
}
.col-33-md {
    @media (min-width: $md) {
        width: 33.33%;
    }
}
.col-4-md {
    @media (min-width: $md) {
        width: 40%;
    }
}
.col-5-md {
    @media (min-width: $md) {
        width: 50%;
    }
}
.col-6-md {
    @media (min-width: $md) {
        width: 60%;
    }
}
.col-7-md {
    @media (min-width: $md) {
        width: 70%;
    }
}
.col-75-md {
    @media (min-width: $md) {
        width: 75%;
    }
}
.col-8-md {
    @media (min-width: $md) {
        width: 80%;
    }
}
.col-9-md {
    @media (min-width: $md) {
        width: 90%;
    }
}
.col-10-md {
    @media (min-width: $md) {
        width: 100%;
    }
}