.main-nav {
    position: fixed;
    z-index: 11;
    left: 0;
    top: 0;
    background-color: $color-beige;
    width: 100%;
    height: 74px;
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    @media (min-width: $sm) {
        height: 90px;
    }
    @media (min-width: $md) {
        position: relative;
        height: auto;
        padding-bottom: .5em;
    }
    
    .brand-name {
        width: 70%;
        
        @media (min-width: $md) {
            width: 20%;
        }
        @media (min-width: $xlg) {
            width: 20%;
        }

        a {
            height: 100%;
            display: flex;
            display: -o-flex;
            display: -ms-flex;
            display: -moz-flex;
            display: -webkit-flex;
            -webkit-align-items: center;
            -moz-align-items: center;
            -ms-align-items: center;
            -o-align-items: center;
            align-items: center;

            img {
                width: 80%;
                max-width: 189px;
                position: relative;
                display: block;
                margin: 1em 0;
                @media (min-width: $sm) {
                    margin: $GlobalPaddingSM 0;
                }
                @media (min-width: $md) {
                    max-width: 212px;
                    margin: 0;
                }
                @media (min-width: $lg) {
                    top: 1em;
                    width: 90%;
                }
                @media (min-width: $xlg) {
                    top: 1em;
                    width: 100%;
                }
            }
        }
    }//.brand-name

    .pedi-wrapper {
        display: none;
        @media (min-width: $md) {
            width: 8.6em;
            display: flex;
            display: -o-flex;
            display: -ms-flex;
            display: -moz-flex;
            display: -webkit-flex;
            -webkit-flex-direction: column;
            -moz-flex-direction: column;
            -ms-flex-direction: column;
            -o-flex-direction: column;
            flex-direction: column;
        }
        @media (min-width: $xlg) {
            width: 10em;
        }
        

        .main-pedidos {
            text-align: center;
            padding: 1em 0;
            font-family: $fuente-secundaria;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 1rem;
            line-height: 1.5rem;
            color: $color-blanco;
            margin-bottom: .5em;
            background-image: url(../images/bk-efect-naranja.svg);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            @media (min-width: $lg) {
                font-size: 1.2rem;
                padding: 1.2em 1.5em;
            }
            @media (min-width: $xlg) {
                font-size: 1.4rem;
            }
        }//.main-pedidos

        .tel-pedidos {
            position: relative;
            color:$color-naranja;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 1.3rem;
            line-height: 1.5rem;
            padding-left: 25px;
            margin-left: .6rem;
            @media (min-width: $lg) {
                font-size: 1.56rem;
                margin: 0;
            }
            @media (min-width: $xlg) {
                font-size: 1.8rem;
                line-height: 1.8rem;
            }

            &:before {
                @extend .btn;
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: 40%;
                @include transform(translateY(-50%));
                width: 26px;
                height: 26px;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url(../images/tel-naranja.png);
                background-size: 18px;
                @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
                    background-image: url(../images/tel-naranja@2x.png);
                    background-size: 18px;
                }
            }
        }//.tel-pedidos

        .wa-pedidos {
            @extend .btn;
            position: relative;
            color:$color-naranja;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 1.3rem;
            line-height: 1.5rem;
            padding-left: 25px;
            margin-left: .6rem;
            @media (min-width: $lg) {
                font-size: 1.56rem;
                margin: 0;
            }
            @media (min-width: $xlg) {
                font-size: 1.8rem;
                line-height: 1.8rem;
            }
            
            &:before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: 40%;
                @include transform(translateY(-50%));
                width: 25px;
                height: 25px;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url(../images/wa-naranja.png);
                background-size: 20px;
                @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
                    background-image: url(../images/wa-naranja@2x.png);
                    background-size: 20px;
                }
            }
        }//.wa-pedidos

    }//.pedi-wrapper

    .navbar-desktop-wrapper {
        display: none;
        @media (min-width: $md) {
            display: block;
            -webkit-flex-grow: 1;
            -moz-flex-grow: 1;
            -ms-flex-grow: 1;
            -o-flex-grow: 1;
            flex-grow: 1;
            -webkit-align-self: flex-end;
            -moz-align-self: flex-end;
            -ms-align-self: flex-end;
            -o-align-self: flex-end;
            align-self: flex-end;
        }

        .sup-menu-desktop {
            display: flex;
            display: -o-flex;
            display: -ms-flex;
            display: -moz-flex;
            display: -webkit-flex;

            @media (min-width: $xlg) {
                font-size: 1.4rem;
                line-height: 1.5rem;
            }

            li {
                margin-right: 3em;

                a {
                    @extend .btn;
                }
            }
        }//.sup-menu-desktop
        
        .main-menu-desktop {
            display: flex;
            display: -o-flex;
            display: -ms-flex;
            display: -moz-flex;
            display: -webkit-flex;
            margin: 1.5em 0 1em;
            font-family: $fuente-secundaria;
            font-weight: 700;
            font-size: 1rem;
            line-height: 1.5rem;
            @media (min-width: $lg) {
                font-size: 1.25rem;
                margin: 1.5em 0 .5em;
            }
            @media (min-width: $xlg) {
                font-size: 1.7rem;
                line-height: 1.7rem;
                margin: 1em 0 .5em;
            }

            li {

                a {
                    @extend .btn;
                    padding-right: 2em;
                    position: relative;
                    
                    strong {
                        text-transform: uppercase;
                    }

                    &:after {
                        content: '>';
                        position: absolute;
                        display: block;
                        bottom: 0;
                        right: -.5em;
                        @include transition(all $transitionSpeed);
                    }

                    &:hover {
                        &:after {
                           //margin-left: .5em;
                           @include transform(translateX(.2em));
                        }   
                    }
                }//a
            }//li
        }//.main-menu-desktop

    }//.navbar-desktop

    .toggle {
        cursor: pointer;
        display: block;
        position: absolute;
        right: $GlobalPadding;
        top: $GlobalPadding;
        background-color: #353535;
        width: 45px;
        height: 45px;
        @include border-radius(5px);
        @media (min-width: $sm) {
            right: $GlobalPaddingSM;
            top: $GlobalPaddingSM;
        }

        &:focus {
            outline: none;
        }

        .tog {
            @include transition(all $transitionSpeed);
            position: absolute;
            display: block;
            width: 65%;
            height: 4px;
            left: 18%;
            background-color: $color-blanco;
        }

        .tog1 {
            top: 22%;
        }
        .tog2 {
            top: 45%;
            opacity: 1;
        }
        
        .tog3 {
            top: 66%;
        }

        @media (min-width: $md) {
            display: none;
        }
    }//.toggle

    .menu-open {
        .tog2 {
            opacity: 0;
        }

        .tog1 {
            @include transform(rotate(45deg) translate3d(6px,7px, 0));
        }
        .tog3 {
            @include transform(rotate(-45deg) translate3d(7px,-7px, 0));
        }
    }//.menu-open

    .navbar-mobile-wrapper {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 111;
        background-color: $color-beige;
        width: 80%;
        height: 100vh;
        will-change: transform;
        overflow-y: auto;
        @include transform(translateX(-100%));
        @include transition(all $transitionSpeed);
        
        @media (min-width: $xs) {
            width: 50%;
        }
        @media (min-width: $md) {
            display: none;
        }

        .menu-mobile-image {
            background-color: $color-naranja;
            height: 160px;
            position: relative;
            overflow: hidden;

            @media (min-height: 800px){
                height: 200px;
            }

            @media (min-width: $sm) and (min-height: 900px){
                height: 250px;
            }

            img {
                position: absolute;
                left: 45%;
                top: 50%;
                height: auto;
                @include transform(translate3D(-50%,-50%,0));
                width: 120%;
                text-align: center;
            }
        }//.menu-mobile-image

        .menu-mobile {
            font-family: $fuente-secundaria;
            color: $color-naranja-texto;
            font-size: .9rem;
            @media (min-width: $sm) {
                font-size: 1.6rem;
            }

            li {
                border-bottom: 1px solid rgba(157,158,158,0.5);

                &:last-child {
                    border-bottom: none;
                }

                a {
                    display: block;
                    padding: .5em .2em .5em 1em;
                    text-transform: uppercase;

                    @media (min-width: $sm) {
                        font-size: 1.5rem;
                        padding: .8em .2em .8em 1.5em;
                    }
                }

                .special-link {
                    font-size: 1.15rem;
                    font-weight: 700;
                    @media (min-width: $sm) {
                        font-size: 1.5rem;
                    }
                }

                .mini-link {
                    text-transform: capitalize;
                    color: $color-negro;
                    font-size: 1.15rem;
                    padding-left: 2em;
                    strong {
                        text-transform: uppercase;
                    }

                    &:after {
                        content: '>';
                        font-size: 150%;
                        color: $color-naranja-texto;
                        vertical-align: bottom;
                        margin-left: .1em;
                    }

                    @media (min-width: $sm) {
                        font-size: 1.5rem;
                    }
                }
            }//li
        }//.menu-mobile

        .logo-gris {
            display: block;
            margin: 1.5em auto 1em;
            text-align: center;

            > img {
                width: 137px;
            }
        }//.logo-gris

    }//.navbar-mobile-wrapper

    .opened {
        @include transition(all $transitionSpeed);
        @include transform(translateX(0));
    }
    
}//.main-nav