.page-wrapper {
    position: relative;
    font-family: $fuente-principal-book;
    font-size: 1rem;
    line-height: 1.3rem;
    padding-bottom: 1.5em;
    @media (min-width: $sm) {
        font-size: 1.3rem;
        line-height: 1.5rem;
        padding-bottom: 1em;
    }

    strong {
        font-family: $fuente-principal;
    }
    em {
        font-family: $fuente-principal;
        font-style: italic;
    }

    a {
        text-decoration: underline;
        color: inherit;
        cursor: pointer;

        &:hover {
            zoom: 1;
            opacity: 0.9;
        }
    }

    h2, h3, h4, h5, h6 {
        font-family: $fuente-principal;
        margin: 1em 0 .5em;
    }

    h2 {
        font-size: 2rem;
        line-height: 2.2rem;
        @media (min-width: $sm) {
            font-size: 2.3rem;
            line-height: 2.3rem;
        }
    }

    h3 {
        font-size: 1.5rem;
        line-height: 1.6rem;
        @media (min-width: $sm) {
            font-size: 1.75rem;
            line-height: 1.8rem;
        }
    }

    h4 {
        font-size: 1.2rem;
        line-height: 1.3rem;
        @media (min-width: $sm) {
            font-size: 1.5rem;
            line-height: 1.5rem;
        }
    }

    p {
        margin: 1em 0;
    }

    .align-justify {
        text-align: justify;
    }

    
}//.page-wrapper

.header-page {
    margin-bottom: 3em;
    position: relative;
    z-index: 11;
}//.header-page

.header-page-no-margin {
    margin-bottom: 0;
}

.header-page-black {
    background-color: $color-negro;
    color: $color-blanco;
}

.header-bk-side-efect {
    background-color: transparent!important;
    background-image: url(../images/bk-efect-negro.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: .5em 0;
    @media (min-width: $md) {
        padding: 1em 0;
    }
    @media (min-width: $lg) {
        padding: 1.5em 0;
    }
    @media (min-width: $xlg) {
        padding: 3em 0;
    }
}

.title-page {
    font-family: $fuente-secundaria;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 2rem;
    @media (min-width: $sm) {
        font-size: 1.8rem;
        line-height: 2rem;
    }
    @media (min-width: $md) {
        font-size: 2.3rem;
        line-height: 2.3rem;
    }
}//.title-page

.title-page-black {}//.title-page-black

.main-page {}

.title-logo {
    position: relative;
    padding-left: 1.3em;
    padding-right: .5em;

    &::before {
        content: '';
        display: block;
        width: 1.5em;
        height: 1.5em;
        position: absolute;
        left: 0;
        top: 0;
        background-image: url(../images/loader.png);
        background-repeat: no-repeat;
        background-size: 1em auto;
    }
}

.nota-small {
    font-size: .75rem;
    font-family: $fuente-secundaria;
    font-weight: 100;
}

.nota-small-titulo-logo {
    padding-left: 3rem;
    margin: 0;
    position: relative;
    top: -20px;
}

.formulario {
    margin-top: 3em;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: $GlobalPadding;
    padding-right: $GlobalPadding;
    @media (min-width: $sm) {
        padding-left: $GlobalPaddingSM;
        padding-right: $GlobalPaddingSM;
    }
    @media (min-width: $md) {
        margin-top: 3em;
        margin-left: .8em;
        margin-right: .8em;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    @media (min-width: $lg) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin-left: 2em;
        margin-right: 2em;
    }
    @media (min-width: $xlg) {
        margin-left: 4.5em;
        margin-right: 4.5em;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .form-row {
        display: flex;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 2em;
        @media (min-width: $md) {
            -webkit-flex-wrap: nowrap;
            -moz-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
            -o-flex-wrap: nowrap;
            flex-wrap: nowrap;
        }

        .form-input {
            margin-bottom: 1.5em;
            padding: 0 .5em;
            @media (min-width: $md) {
                margin-bottom: 0;
                padding-right: 1em;
                &:last-child {
                    padding-right: 0;
                }
            }
        }

    }//.form-row

    .form-input {
        display: flex;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;

        label {
            width: 100%;
            font-weight: 700;
            font-size: 1.2rem;
            @media (min-width: $md) {
                font-size: 1.35rem;
            }
        }

        input, select {
            border: 1px solid rgba(0,0,0,0.3);
            border-radius: 5px;
            padding: .5rem;
            background-color: transparent;
        }

        input[type="file"] {
            border: none;
            background-color: #afafaf;
            color: #afafaf;
            cursor: pointer;
        }

        input.full {
            width: 100%;
        }

        select.full {
            width: 100%;
        }

        .sub-label {
            display: block;
            font-family: $fuente-secundaria;
            font-size: .95rem;
            padding-right: .5rem;
        }
    }//.form-input

    .btn-form-orange {
        width: 100%;
        max-width: 420px;
        display: block;
        border-radius: 10px;
        background-color: $color-naranja;
        color: $color-blanco;
        font-size: 1.5rem;
        padding: .5rem 2rem;
        font-family: $fuente-secundaria;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 1em;
        @media (min-width: $md) {
            font-size: 2rem;
        }
    }

}//.form-wrapper

.formulario-back-white {
    background-color: $color-blanco;
    @media (min-width: $md) {
        border-radius: 10px;
    }
}//.formulario-back-white


//SUCURSALES
.sucursales-list {
    margin-bottom: 2em;
    li {
        width: 45%;
        @media (min-width: $sm) {
            width: 48%;
        }
    }//li

    .sucursal {
        text-align: center;
        font-family: $fuente-secundaria;
        padding: 2em 0;
        display: flex;
        height: 100%;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        justify-content: space-between;
        @media (min-width: $md) {
            text-align: left;
        }

        h1 {
            font-weight: 700;
            margin-bottom: .2em;
        }

        address {
            font-family: $fuente-secundaria;
            font-weight: 100;

            strong {
                font-weight: 700;
            }
        }

        .horario {
            font-family: $fuente-principal;
            font-weight: 300;
            margin: 1em 0;
            p {
                margin: .2em 0;
            }
        }

        .ver-mapa-btn {
            color: $color-naranja;
            border: 1px solid $color-naranja; 
            padding: .5em 1em .3em;
            width: 100%;
            margin: 0 auto;
            max-width: 125px;
            font-family: $fuente-principal;
            font-weight: 100;
            font-size: 1.3rem;
            @include border-radius(.5rem);

            &:after {
                content: '>';
                font-size: 120%;
                vertical-align: bottom;
                padding-left: .2em;
            }
            
            @media (min-width: $md) {
                display: none;
            }
        }

        .wrapper-map-sucursal {
            @include transition(all $transitionSpeed);
            position: absolute;
            z-index: 1;
            height: 0;
            width: 0;
            top: -3em;
            left: 0;
            overflow: hidden;
            @media (min-width: $md) {
                position: relative;
                top: 0;
                height: 300px;
                width: 100%;
            }
            @media (min-width: $xlg) {
                height: 400px;
            }
        }

        .wrapper-map-sucursal-open {
            @include transition(all $transitionSpeed);
            height: 110%;
            width: 100%;
        }
    }//.sucursal

}//.sucursales-list


//ZONAS DE ENTREGA
.zona-entrega-wrapper {
    position: relative;
    z-index: 1;
    top: -2em;
    margin-bottom: -2em;
    overflow: hidden;
    height: 500px;
    @media (min-width: $sm) {
        height: 700px;
    }
    @media (min-width: $md) {
        height: 500px;
    }
    @media (min-width: $lg) {
        height: 600px;
    }
    @media (min-width: $xlg) {
        height: 800px;
    }

    .buttons-zoom-map {
        position: absolute;
        z-index: 2;
        right: 2em;
        bottom: 2em;
        width: 50px;
        height: 100px;
        color: #726d6e;
        background: $color-blanco;
        @include box-shadow(2px 3px 6px $color-negro);

        .btn-zoom {
            @extend .btn;
            display: block;
            width: 30px;
            height: 50px;
            position: relative;
            margin: 0 auto;

            &:before {
                content: attr(data-signo);
                font-size: 250%;
                vertical-align: -webkit-baseline-middle;
            }

            &:first-child {
                border-bottom: 1px solid #c1c1c1;
            }
    
        }//.btn-zoom


    }//.buttons-zoom-map

    .mapa {
        position: absolute;
        z-index: 1;
        height: auto;
        width: 768px;
        left: -220px;
        top: -150px;
        zoom: 1.4;
        @media (min-width: $xs) {
            width: 960px;
            left: -300px;
            top: -270px;
            zoom: 1.3;
        }
        @media (min-width: $sm) {
            width: 1366px;
            top: -400px;
            left: -210px;
            zoom: 1.3;
        }
        @media (min-width: $md) {
            width: 1366px;
            left: -80px;
            top: -430px;
            zoom: 1.3;
        }
        @media (min-width: $lg) {
            width: 1680px;
            left: 0px;
            top: -330px;
            zoom: 1;
        }
        @media (min-width: $xlg) {
            width: 1920px;
            left: 0px;
            top: -330px;
            zoom: 1;
        }
        
    }//.mapa
}//.zona-entrega-wrapper