/*FUENTES*/
$fuente-principal: 'BebasNeue', sans-serif;
$fuente-principal-book: 'BebasNeue-Book', $fuente-principal;
$fuente-secundaria: 'HeadingProTrial', $fuente-principal;
$fuente-secundaria-book: 'HeadingProTrial-Book', $fuente-secundaria, $fuente-principal;

/*COLORES*/
$color-blanco: #fff;
$color-negro: #231f20;
$color-naranja: #ef4a23;
$color-beige: #eee9e2;
$color-amarillo: #f3d54e;

/*MEDIDAS*/
$GlobalPadding: 1em;
$GlobalPaddingSM: 1.5em;
$GlobalPaddingMD: 2em;
$GlobalPaddingLG: 4em;
$GlobalPaddingXLG: 8em;
/*TIEMPO*/
$transitionSpeed: .5s;

/*GRID OPTIONS*/
$xs: 500px; //<576px
$sm: 750px; //<768px
$md: 992px;
$lg: 1260px; //<1200px
$xlg: 1680px;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($var) {
  -webkit-transition: $var;
     -moz-transition: $var;
      -ms-transition: $var;
          transition: $var;
}

@mixin box-shadow($var) {
  -webkit-box-shadow: $var;
     -moz-box-shadow: $var;
      -ms-box-shadow: $var;
          box-shadow: $var;
}

@mixin text-shadow($var) {
  -webkit-text-shadow: $var;
     -moz-text-shadow: $var;
      -ms-text-shadow: $var;
          text-shadow: $var;
}

@mixin transform($var) {
  -webkit-transform: $var;
     -moz-transform: $var;
      -ms-transform: $var;
          transform: $var;
}

@mixin clip-path($clip) {
  -webkit-clip-path: $clip;
  -moz-clip-path: $clip;
  -ms-clip-path: $clip;
  clip-path: $clip;
}

.btn {
  cursor: pointer;
  &:hover {
      zoom: 1;
      opacity: 0.9;
    }
}

.fuente-principal {
  font-family: $fuente-principal!important;
}