/*FUENTES*/
$fuente-principal: 'Intel Clear', sans-serif;
$fuente-secundaria: 'Intel Clear Pro', $fuente-principal;//se usa regular


/*COLORES*/
$color-blanco: #fff;
$color-negro: #2e3337;
$color-azul-fondo: #12083b;
$color-texto-bnt: #2e3337;
$color-amarillo: #f3d54e;

/*TIEMPO*/
$transitionSpeed: .5s;

/*GRID OPTIONS*/
$xs: 500px; //<576px
$sm: 750px; //<768px
$md: 1000px;
$lg: 1200px; //<1200px
$xlg: 1500px;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($var) {
  -webkit-transition: $var;
     -moz-transition: $var;
      -ms-transition: $var;
          transition: $var;
}

@mixin box-shadow($var) {
  -webkit-box-shadow: $var;
     -moz-box-shadow: $var;
      -ms-box-shadow: $var;
          box-shadow: $var;
}

@mixin text-shadow($var) {
  -webkit-text-shadow: $var;
     -moz-text-shadow: $var;
      -ms-text-shadow: $var;
          text-shadow: $var;
}

@mixin transform($var) {
  -webkit-transform: $var;
     -moz-transform: $var;
      -ms-transform: $var;
          transform: $var;
}

@mixin clip-path($clip) {
  -webkit-clip-path: $clip;
  -moz-clip-path: $clip;
  -ms-clip-path: $clip;
  clip-path: $clip;
}


/*
@media (min-width: $sm) {}
-webkit-
-moz-
-ms-
-o-

display: flex;
display: -o-flex;
display: -ms-flex;
display: -moz-flex;
display: -webkit-flex;
-webkit-align-items: center;
-moz-align-items: center;
-ms-align-items: center;
-o-align-items: center;
align-items: center;
-webkit-justify-content: center;
-moz-justify-content: center;
-ms-justify-content: center;
-o-justify-content: center;
justify-content: center;

display: flex;
display: -o-flex;
display: -ms-flex;
display: -moz-flex;
display: -webkit-flex;
-webkit-justify-content: space-between;
-moz-justify-content: space-between;
-ms-justify-content: space-between;
-o-justify-content: space-between;
justify-content: space-between;

&:hover {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
}


background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
  background-image: url('../images/lupa@2x.png');
  background-size: 15px 15px;
}*/