/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/

@import 'sass/reset';

/*--------------------------------------------------------------
2.0 Fuentes
--------------------------------------------------------------*/

@import 'sass/fonts';

/*--------------------------------------------------------------
3.0 variables
--------------------------------------------------------------*/

@import 'sass/variables';

/*--------------------------------------------------------------
4.0 MAIN CSS
--------------------------------------------------------------*/

html, body {
    background-color: #fff;
    color: $color-negro;
    font-family: $fuente-principal;
    font-size: 1rem;
    line-height: 1.3rem;
}//html, body

.main-wrapper {

    .inner-wrapper {
        position: relative;
    }
}//.main-wrapper
