/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/

@import 'sass/reset';

/*--------------------------------------------------------------
2.0 Fuentes
--------------------------------------------------------------*/

@import 'sass/fonts';

/*--------------------------------------------------------------
3.0 variables
--------------------------------------------------------------*/

@import 'sass/variables';

/*--------------------------------------------------------------
4.0 GENERAL
--------------------------------------------------------------*/

html, body {
    background-color: $color-beige;
    color: $color-negro;
    font-family: $fuente-principal;
    font-size: 1rem;
    line-height: 1.3rem;
    height: 100%;
    width: 100%;
}//html, body

.site-wrapper {
    position: relative;
    z-index: 1;
}

.main-header {
    position: relative;
    z-index: 111;
}

/*--------------------------------------------------------------
5.0 GRID
--------------------------------------------------------------*/

@import 'sass/grid';

/*--------------------------------------------------------------
6.0 NAVBAR
--------------------------------------------------------------*/

@import 'sass/navbar';

/*--------------------------------------------------------------
7.0 FOOTER
--------------------------------------------------------------*/

@import 'sass/footer';

/*--------------------------------------------------------------
8.0 MAIN CONTENT
--------------------------------------------------------------*/

.main-wrapper {
    position: relative;
    z-index: 1;
    background-color: $color-blanco;
    .inner-wrapper {
        position: relative;
    }
}//.main-wrapper


